<div ng-controller="listaController" ng-init="Init()">
	<form>
		<md-input-container>
			<label>Nome da Lista</label>
			<input ng-model="Lista.Nome">
		</md-input-container>

		<md-button ng-click="Salvar()">Salvar</md-button>
	</form>
</div>