<h2>Listas Feijoada</h2>
<div ng-controller="listasController" ng-init="Init()">
    <md-table-container layout="flex">
        <table md-table>
            <thead md-order="query.Order" md-head md-on-reorder="Init">
                <tr md-row>
                    <th md-column>#</th>
                    <th md-column>Nome</th>
                    <th md-column>Usuario</th>
                    <th md-column>Excluir</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="Lista in Listas | orderBy:order">
                    <td md-cell ng-click="setFeijoada(Lista)">{{Lista.Blink}} {{Lista.IdList}}</td>
                    <td md-cell ng-click="Editar(Lista)">{{Lista.Nome}}</td>
                    <td md-cell>{{Lista.Usuario}}</td>
                    <td md-cell><md-button ng-click="excluirLista(Lista)" class="md-fab md-mini md-warn">
                            <md-icon md-font-icon="Material Icons">delete</md-icon>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="query.Limit" md-limit-options="[5, 10, 20]" md-page="query.Page" md-total="{{Total}}" md-on-paginate="Init" md-page-select></md-table-pagination>
</div>
<style>
    .Pirilampo{

        background-color: #ffff00;
    }
</style>