<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8"/>
    <title>Lista Telefonica</title>
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/ui.css">
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-locale_pt-br.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/listaTelefonicaCtrl.js"></script>
    <script src="js/services/contatosAPIService.js"></script>
    <script src="js/services/operadorasAPIService.js"></script>
    <script src="js/value/configValue.js"></script>
    <script src="js/config/serialGeneratorConfig.js"></script>
    <script src="js/services/serialGeneratorService.js"></script>
    <script src="js/filters/nameFilter.js"></script>
    <script src="js/filters/ellipsisFilter.js"></script>
    <script src="js/directives/uiAlertDirective.js"></script>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <h3>{{app}}</h3>
        <ui-alert title="Qual eh, Deu doidera">
           Ta mac111
           <!-- erda todas as propriedades do scopo original msm sendo outro -->
        </ui-alert>

        <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Oque vc esta buscando?"/>
        <table class=" table " ng-show = "contatos.length > 0">
            <tr>
                <th></th>
                <th>Serial</th>
                <th><a href="" ng-click="ordenarPor('nome')"> Nome</a></th>
                <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
                <th>Operadora</th>
                <th>Data</th>
                <th></th>
            </tr>
            <tr ng-class="{ 'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:{nome: criterioDeBusca} | orderBy:criterioDeOrdenacao:direcaoDeOrdenacao">
                <td><input type="checkbox" ng-model="contato.selecionado"/> </td>
                <td>{{contato.serial}}</td>
                <td>{{contato.nome | name | ellipsis}}</td>
                <td>{{contato.telefone | limitTo:4}}</td>
                <td>{{contato.operadora.nome | lowercase}}</td>
                <td>{{contato.data | date:'MMMM EEE dd/MM/yyyy HH:mm'}}</td>
                <td><div style="width: 20px; height: 20px; " ng-style="{'background-color': contato.cor}" > </div></td>
            </tr>
        </table>
        <hr/>
        <form name="contatoForm">
            <input class="form-control" type="text" ng-model="contato.nome" name="nome" ng-required="true" ng-minlength="10"/>
            <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
            <select class="form-control"
            ng-model="contato.operadora" 
            ng-options="operadora.nome +'('+ (operadora.preco|currency) +')'  group by operadora.categoria for operadora in operadoras | orderBy:'nome'">
                <option value="">Selecione uma operadora</option>
            </select>
        </form>
        <div ng-messages="contatoForm.nome.$error">
            <div ng-message="required" class="alert alert-danger">
                Por favor, preencha o nome!
            </div>
            <div ng-message="minlength" class="alert alert-danger">
                Nome deve possuir no minimo 10 letras
            </div>
        </div>
        <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger" >
                Por favor, preencha o telefone!
        </div>
        <div ng-show="contatoForm.telefone.$error.pattern && contatoForm.telefone.$dirty" class="alert alert-danger" >
                Digite o telefone corretamente XXXXX-XXXX
        </div>
        <button class="btn btn-primary btn-block" 
        ng-click="adicionarContato(contato)" 
        ng-disabled="contatoForm.$invalid">
            Adicionar Contato
        </button>
        <button class="btn btn-danger btn-block" 
        ng-click="apagarContatos(contatos)" 
        ng-if="isContatoSelecionado(contatos)">
            Apagar Contatos
        </button>
    </div>
    <div ng-include="'view/footer.html'"
</body>
</html>