﻿

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <style>
        input {
            font-size: 200px;
        }
    </style>
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="~/Content/md-data-table.css" rel="stylesheet">
    @RenderSection("Styles", false)
    <meta name="viewport" content="width=device-width" />
    <base href="/">
    <link href="~/Content/angular-material.min.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-aria.min.js"></script>
    <script src="~/Scripts/angular-messages.min.js"></script>
    <script src="~/Scripts/angular-material.min.js"></script>
    <script src="~/Scripts/md-data-table.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/App/app.js"></script>
    @RenderSection("Scripts", false)
</head>

<body>
    <md-content ng-app="batata" style="height:calc(100%)" layout="row">
        <section ng-controller="menuController">
            <md-sidenav flex class="md-sidenav-left"
                        md-component-id="left"
                        md-is-locked-open="true"
                        md-whiteframe="4">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Sidenav Left</h1>
                </md-toolbar>

                <md-content>
                    <md-list class="dense">
                        <md-subheader class="md-no-sticky">Links</md-subheader>
                        <md-list-item ng-click="$root.Ir('/listas')" md-ink-ripple>
                            <md-icon md-font-icon="Material Icons">arrow_right</md-icon>
                            <p> Listas</p>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-sidenav>
        </section>
        <section flex style="height:calc(100%)">
            <section>
                <md-toolbar class="md-hue-1">
                    <div layout="row">
                        <md-toolbar-filler layout="row" layout-align="center center">
                            <md-icon md-font-icon="Material Icons">save</md-icon>
                        </md-toolbar-filler>
                        <h2 class="md-toolbar-tools">
                            <span>Inicio</span>
                        </h2>
                    </div>
                </md-toolbar>
            </section>

            <div>
                @RenderBody()
            </div>
        </section>
    </md-content>
</body>

</html>  