﻿
@{
    Layout = "~/Views/Layout.cshtml";
}
@section Scripts{
    <script src="~/Scripts/App/RouteConfig.js"></script>
    <script src="~/Scripts/App/Services/CommonService.js"></script>
    <script src="~/Scripts/App/Controllers/menuController.js"></script>
    <script src="~/Scripts/App/Controllers/homeController.js"></script>
    <script src="~/Scripts/App/Controllers/listaController.js"></script>
    <script src="~/Scripts/App/Controllers/listasController.js"></script>
}

<ng-view></ng-view>