﻿
@{
    Layout = "~/Views/Layout.cshtml";
}
@*@section Scripts{
    <script src="~/Scripts/App/Services/CommonService.js"></script>
    <script src="~/Scripts/App/Controllers/listasController.js"></script>
}

@section Styles{
    <link href="~/Content/md-data-table.css" rel="stylesheet">
}*@

@*<h2>Listas</h2>
<div ng-controller="listasController" ng-init="Init()">
    <md-table-container>
        <table md-table>
            <thead md-order="query.Order" md-head md-on-reorder="Init">
                <tr md-row>
                    <th md-column>#</th>
                    <th md-column>Nome</th>
                    <th md-column>Usuario</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="Lista in Listas | orderBy:order">
                    <td md-cell ng-click="setFeijoada(Lista)">{{Lista.IdList}}</td>
                    <td md-cell>{{Lista.Nome}}</td>
                    <td md-cell>{{Lista.Usuario}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="query.Limit" md-limit-options="[5, 10, 20]" md-page="query.Page" md-total="{{Total}}" md-on-paginate="Init" md-page-select></md-table-pagination>
</div>*@
