.jumbotron{
    width: 750px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;            
}
.table{
    margin-top: 20px;
}
.form-control{
    margin-bottom: 5px;
}
.btn{
    margin-top: 5px;
}
.selecionado{
    background-color: yellow;
}
.negrito{
    font-weight: bold
}
