.ui-alert {
	background-color: #F2DEDE;
	padding: 20px;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.ui-alert-title{
	color: #AF4341;
	font-weight: bold;
	font-size: 20px;

}
.ui-alert-message{
	color: #AF4341;
}